.hero {
    @include breakpoint-up(large) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: inherit;
    }
    &__image {
        position: relative;
        background-image: url(../images/backgroundMobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 27rem;
        @include breakpoint-up(large) {
            background-image: url(../images/backgroundDesktop.svg);
            height: 90vh;
            flex: 2.5;
        }
        &::before {
            content: "";
            width: 100%;
            position: absolute;
            background-image: url(../images/heroMobile.svg);
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center center;
            height: 27rem;
            @include breakpoint-up(medium) {
                background-image: url(../images/heroMobile.svg);
                background-size: 33%;
            }
            @include breakpoint-up(large) {
                background-image: url(../images/heroDesktop.svg);
                height: 100%;
                background-size: 70%;
            }
        }
    }
    &__text {
        @include breakpoint-up(large) {
            text-align: left;
            flex: 2.5;
        }
        text-align: center;
        h1 {
            line-height: 1.15;
            font-size: 1.875rem;
            font-weight: 500;
            letter-spacing: normal;
            color: $darkBrown;
            margin-bottom: 1.5rem;
            @include breakpoint-up(large) {
                font-size: 2rem;
            }
        }
        p {
            font-weight: 400;
            color: $darkBrown;
            text-align: center;
            font-size: 1rem;
            letter-spacing: normal;
            line-height: 1.2rem;
            @include breakpoint-up(large) {
                line-height: 1.5rem;
                font-size: large;
                text-align: left;
            }
        }
    }
    &__button {
        background-color: $darkBrown;
        cursor: pointer;
        color: $lightBrown;
        outline: none;
        border: 0;
        font-size: .8rem;
        padding: .8rem 1.25rem;
        border-radius: 3rem;
        @include breakpoint-up(large) {
            padding: .8rem 1.25rem;
            font-size: .8rem;
            letter-spacing: 2px;
        }
    }
}